@import "./src/styles";

app-details-product-item {
  .nav-left,
  .nav-right {
    z-index: 1;
  }

  .current-figure {
    position: relative;
    overflow: hidden;
    background-color: $bg-black;
  }

  .current-figure:after {
    display: block;
    content: "";
    padding-top: 100%;
  }

  #current-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .add-to-cart-btn {
    font-size: to-rem(16px);
  }
}
