<section class="t-container">
  <article>
    <ks-carousel
      [id]="1"
      [images]="images"
      [infinite]="true"
      [playConfig]="{ autoPlay: false, interval: 5000, pauseOnHover: true }"
      [previewConfig]="{
        visible: true,
        number: 3,
        width: 'auto',
        maxHeight: '150px'
      }"
    ></ks-carousel>
  </article>
  <article>
    <h4 class="mt-0">{{ product.name }}</h4>
    <h5>{{ product.price }} €</h5>
    <p>{{ product.description }}</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <app-select
        [form]="form"
        [name]="'size'"
        [label]="'Size'"
        [placeholder]="'Pick a size..'"
        [data]="sizes"
        [error]="'Please pick a size to continue!'"
      >
      </app-select>
      <app-input
        [form]="form"
        [name]="'title'"
        [label]="'Title'"
        [placeholder]="'Select a title'"
        [error]="'Cannot be empty!'"
      >
      </app-input>
      <app-checkbox
      [form]="form"
      [name]="'express'"
      [data]="deliveryData"
      [error]="'Please confirm the delivery!'">
      </app-checkbox>
      <section class="d-flex">
        <button
          class="flex-grow-1 py-2 mr-3"
          [ngClass]="form.valid ? 'bg-black text-white' : ''"
          [disabled]="!form.valid"
          mat-flat-button
          type="submit"
        >
          <span
            class="add-to-cart-btn d-flex justify-content-between align-items-center"
          >
            <span>Add to cart!</span>
            <mat-icon>shopping_cart</mat-icon>
          </span>
        </button>
        <button class="bg-black text-white py-2" mat-flat-button type="button">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </section>
    </form>
    <section>
      <a routerLink="/edit/{{ product.id }}">Edit product</a>
    </section>
    <section>
      <button mat-button mat-raised-button (click)="removeProduct()">
        Remove product
      </button>
    </section>
  </article>
</section>
