<section class="container">
  <article class="image-container">
    <img class="image" [src]="product.image" alt="Photo of a product">
  </article>
  <article class="product-info">
      <h6>{{product.name}}</h6>
      <h6>{{product.price}} €</h6>
      <p>{{product.description}}</p>
    <section>
      <a routerLink="/edit/{{product.id}}">Edit product</a>
    </section>
    <section>
      <button mat-button mat-raised-button (click)="removeProduct()">Remove product</button>
    </section>
  </article>
</section>
