@import "./src/styles";

p {
  color: $gray-dark;
  font-size: to-rem(12px);
}

.product-item {
  display: block;
  background: $bg-white;
  position: relative;

  .badges-top {
    position: absolute;
    z-index: 3;
    top: to-rem(8px);
    left: to-rem(8px);
  }

  .product-main-info {
    display: flex;
    justify-content: space-between;
    padding: to-rem(8px) 0;

    h6 {
      margin: 0;
      color: $gray-medium-dark;

      &:first-of-type {
        flex: 1;
        margin-right: to-rem(16px);
        letter-spacing: to-rem(0.5px);
      }
    }
  }
}
