<section class="wrapper t-container">
  <section class="bg-img">
    <article class="inner">
      <img
        src="https://static.nike.com/a/images/f_auto/dpr_2.0/w_1407,c_limit/8ce2ea6b-21a2-4edf-bdf6-9f1ebded317b/nike-official-site.jpg"
        alt="Background image"
      />
    </article>
  </section>
  <h3>Trending products</h3>
  <app-products [products]="trendingProducts$ | async"></app-products>
  <h3>Newest products</h3>
  <app-products [products]="newestProducts$ | async"></app-products>
</section>
