<section class="bg-img mt-0">
  <article class="inner">
    <img src="assets/bg-img.webp" alt="Background image" />
  </article>
</section>

<section class="wrapper">
  <article class="headline">
    <h3 class="text-muted">Everyone’s talking about</h3>
    <h3 class="font-weight-bold">Newest products</h3>
  </article>
  <app-products [products]="newestProducts$ | async"></app-products>
</section>

<section class="bg-img">
  <article class="inner">
    <img src="assets/bottom-bg-desktop.jpg" alt="Background image" />
  </article>
</section>

<section class="wrapper">
  <article class="headline">
    <h3 class="text-muted">Embrace yourself</h3>
    <h3 class="font-weight-bold">Today’s outfit inspiration</h3>
  </article>
  <app-products [products]="trendingProducts$ | async"></app-products>
</section>
