<section class="d-none d-md-block">
  <article class="wrapper">
    <section
      class="categories bg-white d-flex justify-content-center align-items-center"
    >
      <nav class="nav-main d-flex justify-content-center">
        <ul
          class="d-flex justify-content-between align-items-center m-0 font-weight-normal text-uppercase"
        >
          <li *ngFor="let category of categories">
            <a
              class="d-inline-block text-dark p-1 m-2 text-capitalize"
              routerLink="/{{ category.name.toLowerCase() }}"
              title="{{ category.name }}"
            >
              {{ category.name }}
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </article>
</section>
