<section class="wrapper bg-primary m-0">
  <section class="d-flex justify-content-between">
    <div class="site-branding">
      <a routerLink="/">FooTR</a>
    </div>
    <section class="d-flex">
      <ul class="d-flex justify-content-between align-items-center m-0">
        <li>
          <a routerLink="/" title="Shopping bag">
            <i class="fas fa-shopping-bag"></i>
          </a>
        </li>
        <ng-container *ngIf="!authService.isLoggedIn()">
          <li>
            <a routerLink="/auth/login" title="Login">
              Login
            </a>
          </li>
          <li>
            <a routerLink="/auth/register" title="Register">
              Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="authService.isLoggedIn()">
          <li>
            <a routerLink="/user/account" title="My account">
              My account
            </a>
          </li>
          <li>
            <a routerLink="/admin/panel" title="My account">
              Panel
            </a>
          </li>
        </ng-container>
      </ul>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <app-input [isMaterialInput]="isSearchInputMaterial"
                   [placeholder]="'Search..'"
                   [type]="'search'"
                   class="d-none d-sm-block"
                   name="search" ngModel></app-input>
        <button [disabled]="!f.valid" type="submit">Search</button>
      </form>
    </section>
    <button id="toggle" class="d-flex justify-content-center align-items-center d-sm-none" mat-icon-button
            (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
  <section class="d-flex justify-content-center align-items-center">
    <nav class="nav-main .center d-flex justify-content-center">
      <ul class="d-flex justify-content-between align-items-center m-0">
        <li *ngFor="let category of categories">
          <a routerLink="/{{category.name.toLowerCase()}}" title="{{category.name}}">
            {{category.name}}
          </a>
        </li>
      </ul>
    </nav>
    <nav class="nav-main d-none d-sm-flex">
      <ul class="d-flex justify-content-between align-items-center m-0">
        <li>
          <a routerLink="/create" title="Create product">
            <i class="fas fa-plus-circle"></i>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</section>
