:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  mat-sidenav-container {
    flex: 1;
  }

  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }

  mat-sidenav {
    width: 250px;
  }
}
