@import './colors';

.bg-white {
  background-color: $bg-white !important;
}

.bg-black {
  background-color: $bg-black !important;
}

.bg-primary {
  background-color: $bg-primary !important;
}

.bg-accent {
  background-color: $bg-accent !important;
}

.bg-gray {
  background-color: $bg-gray !important;
}
