@import './colors';

.bg-white {
  background-color: $bg-white;
}

.bg-black {
  background-color: $bg-black;
}

.bg-primary {
  background-color: $bg-primary;
}

.bg-accent {
  background-color: $bg-accent;
}

