@import "./functions.scss";
@import "./responsive.scss";

body {
  .wrapper {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 to-rem(16px);

    @include media-breakpoint-md-up() {
      padding: 0 to-rem(24px);
    }

    &.with-margin-top {
      margin-top: to-rem(20px);
    }
  }

  .main-section {
    display: flex;
    justify-content: center;
  }
}
