// BASE COLORS
$white: #fff;
$black: #000;
$indigo: #3f51b5; // Purple
$accent: #ff4081; // Pink

// GRAYSCALE
$gray-bg: #fafafa;
$gray-dark: #333;
$gray-medium-dark: #555;
$gray-medium-normal: #777;
$gray-medium-light: #999;
$gray-light: #bbb;

// BACKGROUNDS
$bg-white: $white;
$bg-black: $black;
$bg-primary: $indigo;
$bg-accent: $accent;
$bg-gray: $gray-bg;


// TEXT
$text-white: $white;
$text-black: $black;
$text-primary: $indigo;
$text-accent: $accent;
$text-dark: $gray-dark;
$text-medium: $gray-medium-dark;
$text-light: $gray-medium-light;
