@import './colors';

.text-white {
  color: $text-white !important;
}

.text-black {
  color: $text-black !important;
}

.text-primary {
  color: $text-primary !important;
}

.text-accent {
  color: $text-accent !important;
}

.text-dark {
  color: $text-dark !important;
}

.text-medium {
  color: $text-dark !important;
}

.text-light {
  color: $text-light !important;
}
