@import './colors';

.text-white {
  color: $text-white;
}

.text-black {
  color: $text-black;
}

.text-primary {
  color: $text-primary;
}

.text-accent {
  color: $text-accent;
}

.text-dark {
  color: $text-dark;
}

.text-medium {
  color: $text-dark;
}

.text-light {
  color: $text-light;
}
