<article>
  <h4 class="text-center">Welcome back</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      [form]="form"
      [name]="'username'"
      [label]="'Username'"
      [placeholder]="'Your username..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <app-input
      [form]="form"
      [name]="'password'"
      [type]="'password'"
      [label]="'Password'"
      [placeholder]="'Your password..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <button
      class="w-100 mt-3 py-1"
      type="submit"
      mat-flat-button
      color="primary"
    >
      Login
    </button>
    <section class="my-4 text-center">
      <a
        routerLink="/auth/forgot-password"
        class="forgot-password-link text-dark font-weight-normal"
      >
        I don't remember my password!</a
      >
    </section>
  </form>
</article>
