<section class="container">
  <h5>Create new product:</h5>
  <form class="example-form" [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-label">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Ex. Nike Air Fo..." formControlName="name">
    </mat-form-field>

    <mat-form-field class="form-label">
      <mat-label>Image URL</mat-label>
      <input type="url" matInput placeholder="Ex. https://img..." formControlName="image">
    </mat-form-field>

    <mat-form-field class="form-label">
      <mat-label>Description</mat-label>
      <input type="text" matInput placeholder="Ex. Cool trainers..." formControlName="description">
    </mat-form-field>

    <mat-form-field class="form-label">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput placeholder="Ex. 100..." formControlName="quantity">
    </mat-form-field>

    <mat-form-field class="form-label">
      <mat-label>Price</mat-label>
      <input type="number" matInput placeholder="Ex. 120 $..." formControlName="price">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Create!</button>
  </form>
</section>
