<article>
  <h4 class="text-center">I'm new here</h4>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      [form]="form"
      [name]="'username'"
      [label]="'Username'"
      [placeholder]="'Choose username..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <app-input
      [form]="form"
      [name]="'password'"
      [type]="'password'"
      [label]="'Password'"
      [placeholder]="'Your password..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <app-input
      [form]="form"
      [name]="'repeatPassword'"
      [type]="'password'"
      [label]="'Repeat password'"
      [placeholder]="'Repeat password..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <app-input
      [form]="form"
      [name]="'email'"
      [type]="'email'"
      [label]="'Email'"
      [placeholder]="'Your email..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <app-input
      [form]="form"
      [name]="'phone'"
      [type]="'text'"
      [label]="'Phone'"
      [placeholder]="'Your phone number..'"
      [error]="'Field is required!'"
    >
    </app-input>
    <button
      class="w-100 mt-3 py-1"
      type="submit"
      mat-flat-button
      color="accent"
    >
      Register
    </button>
  </form>
</article>
