<header>
  <section class="bg-primary m-0 py-3">
    <article class="wrapper">
      <section class="d-flex justify-content-between">
        <div class="site-branding d-flex align-items-center">
          <a class="text-white font-weight-normal" routerLink="/">ProjectT</a>
        </div>
        <section class="d-flex">
          <form class="d-none" [formGroup]="form" (ngSubmit)="onSubmit()">
            <input
              type="text"
              placeholder="Search.."
              formControlName="search"
            />
          </form>
          <article
            class="d-flex justify-content-between align-items-center m-0"
          >
            <button
              class="d-flex justify-content-center align-items-center text-white"
              mat-icon-button
            >
              <mat-icon>search</mat-icon>
            </button>
            <button
              class="d-flex justify-content-center align-items-center text-white"
              mat-icon-button
              routerLink="/cart"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <button
              class="d-flex justify-content-center align-items-center text-white"
              mat-icon-button
              [routerLink]="'/wishlist'"
            >
              <mat-icon>favorite_border</mat-icon>
            </button>
            <button
              class="d-flex justify-content-center align-items-center text-white"
              mat-icon-button
              [routerLink]="isAuthenticated() ? '/user/account' : 'auth'"
            >
              <mat-icon>person</mat-icon>
            </button>
            <button
              class="d-flex d-md-none justify-content-center align-items-center text-white"
              mat-icon-button
              (click)="onToggleSidenav()"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </article>
        </section>
      </section>
    </article>
  </section>
  <section>
    <article class="wrapper">
      <section
        class="categories bg-white d-flex justify-content-center align-items-center"
      >
        <nav class="nav-main d-flex justify-content-center">
          <ul
            class="d-flex justify-content-between align-items-center m-0 font-weight-normal text-uppercase"
          >
            <li *ngFor="let category of categories">
              <a
                class="text-dark py-2 px-1"
                routerLink="/{{ category.name.toLowerCase() }}"
                title="{{ category.name }}"
              >
                {{ category.name }}
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </article>
  </section>
</header>
