<footer class="site-footer">
  <section class="wrapper">
    <nav>
      <ul class="d-block d-sm-flex justify-content-center align-items-center m-0">
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Impressum</a>
        </li>
        <li>
          <a href="#">Profiles</a>
        </li>
        <li>
          <a href="#">Hashtags</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </section>
</footer>
