<h3>Categories</h3>
<nav>
  <ul>
    <li>
      <a routerLink="/admin/category/all">All</a>
    </li>
    <li>
      <a routerLink="/admin/category/create">Create</a>
    </li>
  </ul>
</nav>

<h3>Products</h3>
<nav>
  <ul>
    <li>
      <a routerLink="/admin/product/all">All</a>
    </li>
    <li>
      <a routerLink="/admin/product/create">Create</a>
    </li>
  </ul>
</nav>

<h3>Orders</h3>
<nav>
  <ul>
    <li>
      <a routerLink="/admin/order/all">ALL - Not implemented</a>
    </li>
    <li>
      <a routerLink="/admin/order/create">Create - Not implemented</a>
    </li>
  </ul>
</nav>
