<section class="wrapper with-margin-top">
  <article class="d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="43">
      <g fill="none" fill-rule="evenodd">
        <path
          fill="#1A1A1A"
          d="M40.6 16.5H43c-.4 4.1-2.4 7.1-2.4 7.1a85 85 0 01-19 19.4S8 33 2.4 23.6c0 0-5-8-.7-15.5A11.4 11.4 0 0111.6 2c6.3 0 10 5.8 10 5.8s2.6-4.1 7.1-5.4v2.5c-4.5 1.8-7.2 7.4-7.2 7.4s-3.8-7.9-9.9-7.9a9 9 0 00-7.8 4.8c-3.5 6.3.6 13 .7 13.2a77.1 77.1 0 0017 17.6 77.3 77.3 0 0017-17.6h.1c.1-.2 1.6-2.7 2-6z"
        ></path>
        <path
          fill="#000"
          fill-rule="nonzero"
          d="M36.8 0v5.8H31v2.4h5.8V14h2.4V8.2H45V5.8h-5.8V0z"
        ></path>
      </g>
    </svg>
  </article>

  <article class="text-center">
    <h2 class="my-4">Create your wish list!</h2>
    <p class="p-0 font-weight-normal">
      Get inspired by our most popular items this week.
    </p>
  </article>
</section>
